{{!
    Copyright (c) Jupyter Development Team.
    Distributed under the terms of the Modified BSD License.
}}

<nav class="navbar navbar-default">
    <div class="center-container">
        <div class="navbar-left-container">
            <a class="navbar-brand" href="/" title="Home">Jupyter Dashboard</a>
        </div>

        <div class="navbar-right-container">
            {{!
                Use 'invisible' rather than 'hidden' so font loads eagerly.
                If server crashes this will be shown but font needs to be loaded.
            }}
            <span class="error-container invisible">
                <i class="error-indicator fa fa-exclamation-triangle"
                title="An error has occurred. Check the console for details. Click to dismiss."></i>
            </span>

            {{#if user}}
                <form class="navbar-form navbar-right" action="/logout" method="post">
                    <button type="submit" class="navbar-btn logout-btn btn btn-link">Log out, {{user.username}}</button>
                </form>
            {{/if}}
        </div>
    </div>
</nav>
