{{!
    Copyright (c) Jupyter Development Team.
    Distributed under the terms of the Modified BSD License.
}}

{{#*inline "viewAllLink"}}
    <ul class="nav navbar-nav view-all-link">
        <li><a href="/dashboards">View all dashboards</a></li>
    </ul>
{{/inline}}

<nav class="navbar navbar-default">
    <div class="center-container">
        <div class="navbar-left-container">
            <a class="navbar-brand" href="/" title="Home">Jupyter Dashboard</a>
            {{#if showAllLink}}
                {{> viewAllLink}}
            {{/if}}
        </div>

        <div class="navbar-right-container">
            {{!
                Use 'invisible' rather than 'hidden' so font loads eagerly.
                If server crashes this will be shown but font needs to be loaded.
            }}
            <span class="error-container invisible">
                <i class="error-indicator fa fa-exclamation-triangle"
                title="An error has occurred. Check the console for details. Click to dismiss."></i>
            </span>

            {{#if (config 'AUTH_ENABLED')}}
                {{#if username}}
                    <form class="navbar-form navbar-right" action="/logout" method="post">
                        <button type="submit" class="navbar-btn logout-btn btn btn-link">Log out</button>
                    </form>
                {{else}}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="login-btn" href="/login">Log in</a></li>
                    </ul>
                {{/if}}
            {{/if}}
        </div>
    </div>
</nav>
{{#if showAllLink}}
    <nav class="navbar navbar-default navbar-row-2">
        {{> viewAllLink}}
    </nav>
{{/if}}
