{{!
    Copyright (c) Jupyter Development Team.
    Distributed under the terms of the Modified BSD License.
}}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>{{title }}</title>
        <link rel="stylesheet" href="{{urlJoin baseUrl '/css/style.css'}}">
        {{#if documentBaseURI}}
            <base href="{{documentBaseURI}}">
        {{/if}}
    </head>
    <body>
        {{#unless (config "PRESENTATION_MODE")}}
            {{#unless hideChrome}}
                {{> nav}}
            {{/unless}}
        {{/unless}}
        {{{body}}}
    </body>
</html>
