{{!
    Copyright (c) Jupyter Development Team.
    Distributed under the terms of the Modified BSD License.
}}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</head>
<body>


  {{{body}}}


  </body>
</html>
