{{!
    Copyright (c) Jupyter Development Team.
    Distributed under the terms of the Modified BSD License.
}}
<div>{{ error.status }}</div>
<div>{{ message }}</div>
<div>{{ error.stack }}</div>
