{{!
    Copyright (c) Jupyter Development Team.
    Distributed under the terms of the Modified BSD License.
}}
<div id="error-container" class="container">
    <p>Error {{ status }}</p>
    <p>{{ message }}</p>
    {{#if stacktrace}}
        <pre>{{ stacktrace }}</pre>
    {{/if}}
</div>
