{{!
    Copyright (c) Jupyter Development Team.
    Distributed under the terms of the Modified BSD License.
}}
<div id="list-container" class="container">
    <div class="col-md-4 col-md-offset-4">
        <h2 class="list-title">Dashboards</h2>
        <ul class="list-group">
            {{#each items}}
                <li class="list-group-item">
                    <i class="list-item-icon {{fsIcon type}}"></i>
                    <a href="/dashboards/{{url}}">{{urlBasename url}}</a>
                </li>
            {{/each}}
        </ul>
    </div>
</div>
