{{!
    Copyright (c) Jupyter Development Team.
    Distributed under the terms of the Modified BSD License.
}}
{{! Required for login }}
<link rel='stylesheet' href='/components/bootstrap/css/bootstrap.min.css'>
<link rel="stylesheet" href="/css/style.css">

{{> nav}}

<div class="container">
  {{#if autherror}}
  <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    Invalid login credentials.
  </div>
  {{/if}}
  {{#if username}}
  <center>
    <h1>Logged in as, {{username}}.  Please log out first.</h1>
  </center>
  {{else}}
  <form action="/login" method="post" class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="username" class="sr-only">User Name</label>
    <input type="text" name="username" id="username" class="form-control" placeholder="User Name" required autofocus>
    <label for="password" class="sr-only">Password</label>
    <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
  </form>
  {{/if}}

</div> <!-- /container -->