{{!
    Copyright (c) Jupyter Development Team.
    Distributed under the terms of the Modified BSD License.
}}
<div class="login container">
    {{#if authError}}
        <div class="alert alert-danger" role="alert">
            <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Invalid login credentials.
        </div>
    {{/if}}
    {{#if username}}
        <h4 class="logged-in-header">Logged in as '{{username}}'.  Please log out first.</h4>
    {{else}}
        <form action="/login" method="post" class="form-login">
            <h4 class="login-form-heading">Log in to Jupyter Dashboard</h4>
            <label for="username" class="sr-only">User Name</label>
            <input type="text" name="username" id="username" class="form-control" placeholder="User Name" required autofocus>
            <label for="password" class="sr-only">Password</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
        </form>
    {{/if}}
</div>
